.productsContainer {
  display: flex;
  flex-wrap: wrap;
}
.navigation {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin: 18px 0px;
  div:last-of-type {
    button {
      margin-left: 16px;
    }
  }
}
